* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------------general-----------*/
//Variables
$tablet: 768px;
$desktop: 1024px;
$colorletra1: rgb(208, 208, 208);
//mapa
$tamañodefuente: ("small": 16px,
    "ms": 20px,
    "medium": 24px,
    "ml": 28px,
    "large": 32px);


body {
    margin: 0px 0px 0px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $colorletra1;
    background: rgb(113, 0, 117);
    background: radial-gradient(circle, rgba(113, 0, 117,1) 0%, rgb(0, 0, 0) 50%);

    main {
        border-top: solid 8px rgb(113, 0, 117);
    }

    header {
        width: 100%;
        height: 150px;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;

        div {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;

            img {
                height: 150px;
                width: 100%;
                object-fit: contain;
            }
        }
    }
}

#navegacion {
    color: $colorletra1;
    margin: 5px 10px 5px 10px;
}
.navbar-nav li  {
    position: relative;
    &::before{
        content: "";
        height: 3px;
        width: 0%;
        background: purple;
        position: absolute;
        left: 18px;
        bottom: 7px;
        transition: 0.3s ease-out;
    }
    &:hover::before{
        width: 70%;
    }
}

.navbar {
    background-color: black;
    font-size: map-get($map: $tamañodefuente, $key: ms);
}

#boton {
    border-color: rgb(114, 114, 114);
}

.collapse {
    justify-content: center;
}

@font-face {
    font-family: Clip;
    src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}

.sign {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 30px;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #f3f3f3, 0 0 1.5rem #dadada,
        -0.2rem 0.1rem 1rem #c6c6c6, 0.2rem 0.1rem 1rem #c6c6c6,
        0 -0.5rem 2rem #454545, 0 0.5rem 3rem #454545;
    animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {

    0%,
    22%,
    36%,
    75% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #f3f3f3, 0 0 1.5rem #dadada,
            -0.2rem 0.1rem 1rem #c6c6c6, 0.2rem 0.1rem 1rem #c6c6c6,
            0 -0.5rem 2rem #454545, 0 0.5rem 3rem #454545;
    }

    28%,
    33% {
        color: #383737;
        text-shadow: none;
    }

    82%,
    97% {
        color: #3a3a3a;
        text-shadow: none;
    }
}

.flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
    0% {
        color: #c8c8c8;
        text-shadow: none;
    }

    100% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #f3f3f3, 0 0 1.5rem #dadada,
            -0.2rem 0.1rem 1rem #c6c6c6, 0.2rem 0.1rem 1rem #c6c6c6,
            0 -0.5rem 2rem #454545, 0 0.5rem 3rem #454545;
    }
}

@keyframes flicker {
    from {
        opacity: 1;
    }

    4% {
        opacity: 0.9;
    }

    6% {
        opacity: 0.85;
    }

    8% {
        opacity: 0.95;
    }

    10% {
        opacity: 0.9;
    }

    11% {
        opacity: 0.922;
    }

    12% {
        opacity: 0.9;
    }

    14% {
        opacity: 0.95;
    }

    16% {
        opacity: 0.98;
    }

    17% {
        opacity: 0.9;
    }

    19% {
        opacity: 0.93;
    }

    20% {
        opacity: 0.99;
    }

    24% {
        opacity: 1;
    }

    26% {
        opacity: 0.94;
    }

    28% {
        opacity: 0.98;
    }

    37% {
        opacity: 0.93;
    }

    38% {
        opacity: 0.5;
    }

    39% {
        opacity: 0.96;
    }

    42% {
        opacity: 1;
    }

    44% {
        opacity: 0.97;
    }

    46% {
        opacity: 0.94;
    }

    56% {
        opacity: 0.9;
    }

    58% {
        opacity: 0.9;
    }

    60% {
        opacity: 0.99;
    }

    68% {
        opacity: 1;
    }

    70% {
        opacity: 0.9;
    }

    72% {
        opacity: 0.95;
    }

    93% {
        opacity: 0.93;
    }

    95% {
        opacity: 0.95;
    }

    97% {
        opacity: 0.93;
    }

    to {
        opacity: 1;
    }
}

/*------------------footer--------------*/
#whatsapp {
    position: fixed;
    bottom: 20px;
    right: 40px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 199, 43);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;

    i {
        color: white;
    }

    &:hover {
        transform: scale(1.2);
        transition: all 0.5s;
    }
}

footer {
    border-top: solid 20px rgb(113, 0, 117);
    background-color: dimgrey;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    h3 {
        font-size: map-get($map: $tamañodefuente, $key: small);
        padding-top: 10px;
        color: #000000;
        text-decoration: underline;
    }

    .redes {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        i {
            font-size: 35px;
            color: rgb(0, 0, 0);
        }
    }

    .mapa {
        padding-bottom: 0px;
    }
}

.derechos {
    text-align: center;
    text-decoration: overline black;
    background-color: dimgrey;
    font-size: map-get($map: $tamañodefuente, $key: "small");
    font-style: italic;
    padding-bottom: 5px;
    margin-bottom: 0;
    color: #000000;
}

/*-----------index------------*/

.carousel-item {
    height: 300px;
    padding-left: 0px;
    padding-right: 0px;
}

.d-block {
    height: auto;
    width: 100%;
    object-fit: contain;
    padding-top: 10px;
}

.carousel-control-next-icon {
    color: black;
}

.tituloIndex {
    text-align: center;
    text-transform: uppercase;
    font-size: map-get($map: $tamañodefuente, $key: "medium");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px 5px 5px 5px;
    padding-top: 10px;
    overflow-wrap: break-word;
    text-shadow: 2px 2px rgb(17, 17, 17);
}

.inicio {
    height: auto;
    width: 100%;
    font-style: italic;
    overflow-wrap: break-word;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.tituloMarcas {
    @extend .tituloIndex;
}

.marcas {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding-left: 5px;
    padding-right: 5px;

    .imgMarcas {
        justify-self: center;

        img {
            height: 200px;
            width: 100%;
            object-fit: contain;
        }
    }
}
.contenedorReseñas{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    .video iframe{
        padding-top: 15px;
        height: 250px;
        width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
}
#reseñas{
    height: 250px;
    width: 90%;
    margin-bottom: 15px;
    margin-top: 10px;
    #client-testimonial-carousel {
    margin-left: 0;
    margin-right: 0;
    height: auto;
    width: auto;
    }
}
/*-------------TRABAJOS-----------*/

.galeria {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;

    .trabajos {
        height: 350px;
        width: 100%;
        object-fit: cover;
       // box-shadow: 5px black;
        margin-bottom: 20px;
       // 
    }
}

/*--------------NOSOTROS-----------*/
.nosotros1 {
    display: grid;
    grid-template-columns: 100%;

    .imgnosotros {
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 0;

        img {
            height: 300px;
            width: 100%;
            object-fit: contain;
        }
    }

    .contenido {
        grid-column: 1/2;
        grid-row: 2/3;
        margin: 30px 30px 30px 30px;
    }
}

.instalaciones {
    @extend .tituloIndex;
}

.galeriainstalaciones {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
    margin: 30px 5px 30px 5px;
    height: 100%;

    .inst1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .inst2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .inst3 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .inst4 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    img {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
}

/*-------------SERVICIOS-----------*/

.servicios {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;

    .imgservicios {
        height: 300px;
        width: 100%;
        object-fit: contain;
    }

    .textoserv {
        margin-left: 10px;
        margin-right: 10px;
        font-size: map-get($map: $tamañodefuente, $key: small);
        text-align: center;

        h2 {
            @extend .tituloIndex;
            padding-top: 0;
        }
    }
}

/*-------------CONTACTO------------*/
form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 4fr 1fr;
    background-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
    height: 600px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    justify-items: center;
    align-items: center;
    textarea {
        border-radius: 15px;
        resize: none;
        width: 95%;
        height: 90%;
        margin-top: 5px;
        font-size: map-get($map: $tamañodefuente, $key: "small");
        font-family: 'Times New Roman', Times, serif; 
    }

    input {
        height: 40px;
        width: 95%;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 10px;
        font-size: map-get($map: $tamañodefuente, $key: "small");
        font-family: 'Times New Roman', Times, serif;
    }
}
#enviar {
    border-radius: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/*---------------MEDIA-------------*/

@media only screen and (min-width: $tablet) {

    /*--------index----------------*/
    #carouselExampleIndicators {
        height: auto;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .carousel-item {
        height: auto;
        padding-left: 5px;
        padding-right: 5px;

        .d-block {
            height: auto;
            width: auto;
            object-fit: contain;
            padding-top: 10px;
        }
    }

    .inicio {
        height: auto;
        width: 500px;
        margin: 0 auto;
        font-style: italic;
        overflow-wrap: break-word;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .marcas {
        grid-template-columns: 1fr 1fr 1fr;

        .imgMarcas {
            justify-self: center;
        }
    }

    .contenedorReseñas{
        height: 350px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        .video iframe{
            height: 250px;
            width: 380px;
        }
    }
    #reseñas{
        height: 220px;
        width: 380px;
        #client-testimonial-carousel {
        margin-left: 0;
        margin-right: 0;
        height: auto;
        width: auto;
        }
    }
    /*------------galeria----------*/
    .margenTablet {
        margin-left: 25px;
        margin-right: 25px;
    }

    .imagenes {
        .galeria {
            grid-template-columns: 1fr 1fr;
            column-gap: 15px;
            padding-top: 10px;
            .trabajos {
                border: solid 2px black;
                height: 350px;
                width: 100%;
                transition: all 0.5s;
                &:hover {
                        transform: scale(1.1);
                        transition: 0.3s;
            }
        }
    }
}
    /*--------------NOSOTROS---------*/

    @mixin grid ($inicioColumna, $finColumna, $inicioFila, $finFila) {
        grid-column-start: $inicioColumna;
        grid-column-end: $finColumna;
        grid-row-start: $inicioFila;
        grid-row-end: $finFila;
    }

    .nosotros1 {
        @extend .margenTablet;
        grid-template-columns: 1fr 1fr;

        .imgnosotros {
            @include grid (1, 2, 1, 2);
        }

        .contenido {
            @include grid (2, 3, 1, 2);
        }
    }

    .galeriainstalaciones {
        @extend .margenTablet;
        grid-template-columns: 1fr 1fr;
        gap: 10px;

        .inst1 {
            @include grid (1, 2, 1, 2);
        }

        .inst2 {
            @include grid (2, 3, 1, 2);
        }

        .inst3 {
            @include grid (1, 2, 2, 3);
        }

        .inst4 {
            @include grid (2, 3, 2, 3);
        }
    }

    /*------------servicios-------------*/
    .servicios {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        @extend .margenTablet;

        .imgservicios {
            height: 300px;
            width: 380px;
            margin-top: 20px;
            margin-bottom: 15px;
            object-fit: contain;
        }

        .textoserv {
            padding: 30px 0px 30px 30px;

            h2 {
                font-size: map-get($map: $tamañodefuente, $key: ms);
            }

            p {
                font-size: map-get($map: $tamañodefuente, $key: small);

            }
        }
    }

    /*------------contacto-------------*/
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr 0.2fr 0.5fr 0.2fr;
        gap: 5px;
        height: 500px;
        width: 80%;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
        margin-top: 50px;
        border: solid 3px rgb(29, 27, 27);

        .nombre {
            @include grid (1, 2, 1, 2);
        }

        .apellido {
            @include grid (2, 3, 1, 2);
        }

        .mail {
            @include grid (1, 2, 2, 3);
        }

        .telefono {
            @include grid (2, 3, 2, 3);
        }

        .mensaje {
            @include grid (1, 3, 3, 4);
        }

        #enviar {
            @include grid (1, 3, 4, 5);
            width: 30%;
        }

        textarea {
            resize: none;
            width: 95%;
            height: 90%;
            margin-top: 5px;
            font-size: 16px;
            font-family: 'Times New Roman', Times, serif;
        }

        input {
            height: 40px;
            width: 90%;
            font-size: 16px;
            font-family: 'Times New Roman', Times, serif;
        }
    }
}

@media only screen and (min-width: $desktop) {
    @mixin grid ($inicioColumna, $finColumna, $inicioFila, $finFila) {
        grid-column-start: $inicioColumna;
        grid-column-end: $finColumna;
        grid-row-start: $inicioFila;
        grid-row-end: $finFila;
    }

    /*---------index---------*/
    main .index {
        margin: 0px 30px 0px 30px;
    }

    h1 {
        text-align: center;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    #carouselExampleIndicators {
        height: auto;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .carousel-item {
        height: auto;

        .d-block {
            height: auto;
            width: 550px;
            object-fit: contain;
            padding-top: 10px;
        }
    }

    .tituloIndex {
        text-align: center;
        text-transform: uppercase;
        font-size: 22px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .marcas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 5px;
        padding-top: 10px;

        .imgMarcas {
            height: 200px;
            width: 100%;
            object-fit: contain;
        }
    }
    .contenedorReseñas{
        height: 350px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 10px;
        .video iframe{
            height: 260px;
            width: 480px;
        }
        }

    #reseñas{
        height: 250px;
        width: 480px;
        #client-testimonial-carousel {
        margin-left: 0;
        margin-right: 0;
        height: 200px;
        width: auto;
       }
    }

    /*------------galeria----------*/
    .margenDesktop {
        margin: 0 60px 0 60px;
        ;
    }

    .imagenes {
        .galeria {
            grid-template-columns: 1fr 1fr 1fr;

            .trabajos {
                height: 430px;
                width: 100%;
            }
        }
    }

    /*------------NOSOTROS---------*/
    .nosotros1 {
        grid-template-columns: 1fr 1fr;

        .imgnosotros {
            @include grid (1, 2, 1, 2);
        }

        .contenido {
            @include grid (2, 3, 1, 2);
        }
    }

    .galeriainstalaciones {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 15px;

        .inst1 {
            @include grid (1, 2, 1, 2);
        }

        .inst2 {
            @include grid (2, 3, 1, 2);
        }

        .inst3 {
            @include grid (3, 4, 1, 2);
        }

        .inst4 {
            @include grid (4, 5, 1, 2);
        }
    }

    /*-----------servicios----------*/
    .bloqueserv {
        @extend .margenDesktop;
    }

    .servicios {
        display: flex;
        flex-direction: row;

        .imgservicios {
            height: 300px;
            width: 450px;
            margin-top: 20px;
            margin-bottom: 15px;
            object-fit: contain;
        }

        .textoserv {
            padding: 30px 30px 30px 30px;
        }
    }

    /*------------contacto-----------*/
    form {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr 0.2fr 0.5fr 0.2fr;
        gap: 5px;
        height: 500px;
        width: 650px;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
        margin-top: 50px;
        border: solid 3px rgb(29, 27, 27);

        .nombre {
            grid-column: 1/2;
            grid-row: 1/2;
            justify-self: end;
        }

        .apellido {
            grid-column: 2/3;
            grid-row: 1/2;
            justify-self: start;
        }

        .mail {
            grid-column: 1/2;
            grid-row: 2/3;
            justify-self: end;
        }

        .telefono {
            grid-column: 2/3;
            grid-row: 2/3;
            justify-self: start;
        }

        .mensaje {
            grid-column: 1/3;
            grid-row: 3/4;
            height: 150px;
        }

        #enviar {
            grid-column: 1/3;
            grid-row: 4/5;
            width: 30%;
        }

        textarea {
            resize: none;
            width: 510px;
            margin-top: 5px;
            font-size: 16px;
            font-family: 'Times New Roman', Times, serif;
        }

        input {
            height: 40px;
            width: 250px;
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 16px;
            font-family: 'Times New Roman', Times, serif;
        }
        
    }
}